@model EProductPortal.Models.ProductQuantityCollectionViewModel
<table class="table">
    <thead>
        <tr>
            <th scope="col">PRODUCT NAME</th>
            <th scope="col">QUANTITY</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.collection)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Quantity</td>
            </tr>
        }

    </tbody>
</table>